.sections {
  width: 900px;
  margin: 0 auto;
}

.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.thirty-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.thirty-card img {
  height: 300px;
}

.section-heading {
  font-weight: bold;
  font-size: 6rem;
  -webkit-text-stroke: 2px white;
  color: transparent;
  margin: 1rem 0;
}
