/*
=== THESE STYLES APPLY TO THE TIMELINE AND HOW BLOCKS ARE ARRANGED IN RELATION TO EACH OTHER
=== FOR INDIVIDUAL STYLES SEE 'timelineItem.css'
*/

/* Used for the bounce animation to bring in items */
.hidden {
    visibility: hidden;
}

/*  This is for the parent div that contains all blocks and year markers.
    We want it to be 90%, not 100% to make the cards not run against the sides */
#timeline {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

/* This is the vertical timeline that runs through the page */
#timeline::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 12px;
    background: #C8C8C8;
  }

/*  Every timeline block contains the timeline item and its arm.
    These are 45% because each block is half the width of the timeline 
    (90/2) = 45 and are flexboxes */
.timelineBlock {
    display: flex;
    width: 45%;
    position: relative;
}

/*  The arm contains the date and the SVG arm element.
    As such we have a flexbox column style so they stack on top of each other */
.timelineArm {
    display: flex;
    flex-direction: column;
}
/*  This is the date above each SVG arm element */
.armDate {
    font-weight: 800;
    font-style: italic;
    text-transform: uppercase;
    font-size: 24px;
}

/*  Since the items alternate either left or right side, we need the
    titles to align differently.
    This is for the blocks on the RIGHT side! */
#timeline .timelineBlock:nth-child(even) .timelineItem h1 {
    text-align: left;
}

/*  Since the items alternate either left or right side, we need the
    titles to align differently.
    This is for the blocks on the LEFT side! */
#timeline .timelineBlock:nth-child(odd) .timelineItem h1 {
    text-align: right;
}

/*  This style is why the blocks actually appear on different sides.
    This is for the RIGHT side blocks and it pushes them further
    away from the left side to align to the RIGHT side of the 
    timeline */
#timeline .timelineBlock:nth-child(even) {
    flex-direction: row;
    left: 48%;
}

/*  This style is why the blocks actually appear on different sides.
    This is for the LEFT side blocks and it pushes them less
    away from the left side to align to the LEFT side of the 
    timeline.
    We also need to reverse the row so that the arm comes 
    AFTER (on the right side of) the item */
#timeline .timelineBlock:nth-child(odd) {
    flex-direction: row-reverse;
    left: 10%;
}

/*  Each arm needs to "push" the item away a little bit for design purposes
    but the left-side arms need to push the item to the left and the right,
    to the right.
    This is for the blocks on the RIGHT side! */
#timeline .timelineBlock:nth-child(even) .timelineArm {
    padding-right: 1.4rem;
}

/*  Each arm needs to "push" the item away a little bit for design purposes
    but the left-side arms need to push the item to the left and the right,
    to the right.
    This is for the blocks on the LEFT side! */
#timeline .timelineBlock:nth-child(odd) .timelineArm {
    padding-left: 1.4rem;
}
/*  We also need to flip the arms on the RIGHT side to match the arms on the
    right side */
#timeline .timelineBlock:nth-child(even) .timelineArm svg {
    transform: rotateY(180deg);
}

/*  We need to give the first item a little bit of distance from the year 
    marker */
#timeline .timelineBlock:nth-child(1) {
    padding-top: 2em;
}

/*  This is the class that brings in the LEFT side of timeline blocks
    If you need to slow down the animation, do it here! */
.timelineBlock .timelineItem--bounce-in {
    visibility: visible;
    -webkit-animation: cd-bounce-2 0.6s;
    animation: cd-bounce-2 0.6s;
}

/*  This is the class that brings in the RIGHT side of timeline blocks
    If you need to slow down the animation, do it here! */
.timelineBlock:nth-child(even) .timelineItem.timelineItem--bounce-in {
    -webkit-animation: cd-bounce-2-inverse 0.6s;
    animation: cd-bounce-2-inverse 0.6s;
}

@-webkit-keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes cd-bounce-2 {
    0% {
      opacity: 0;
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @-webkit-keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }
  
  @keyframes cd-bounce-2-inverse {
    0% {
      opacity: 0;
      -webkit-transform: translateX(100px);
              transform: translateX(100px);
    }
    60% {
      opacity: 1;
      -webkit-transform: translateX(-20px);
              transform: translateX(-20px);
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
  }

/*  These are mobile stylings
    1010px was chosen because that is the exact value the items start to
    mess with the sides */
@media only screen and (max-width: 1010px) {
    #timeline {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
    #timeline::before {
        background-color: transparent;
    }
    #timeline .timelineBlock:nth-child(odd) .timelineArm, #timeline .timelineBlock:nth-child(even) .timelineArm {
        padding-left: 0;
    }
    #timeline .timelineBlock:nth-child(1) {
        padding-top: 0;
    }
    .timelineBlock {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 0;
    }
    #timeline .timelineBlock:nth-child(1) {
        margin-top: 0;
    }
    .timelineArm {
        flex-direction: column;
    }
    .timelineArm svg {
        display: none;
    }
    #timeline .timelineBlock:nth-child(odd), #timeline .timelineBlock:nth-child(even) {
        left: initial;
        flex-direction: column;
    }
    #timeline .timelineBlock:nth-child(odd) .timelineItem h1, #timeline .timelineBlock:nth-child(even) .timelineItem h1 {
        margin: 0.4em 0 0.4em 0;
        text-align: center;
    }
    .timelineItem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .timelineBlock::before {
        content: '';
        top: 0;
        height: 2em;
        margin: auto;
        left: 50%;
        width: 12px;
        background: #C8C8C8;
    }
    .timelineBlock::after {
        content: '';
        top: 0;
        height: 4em;
        margin: auto;
        left: 50%;
        width: 12px;
        background: #C8C8C8;
    }
}