/*  This is for the parent div that contains all blocks and year markers.
    We want it to be 90%, not 100% to make the cards not run against the sides */
.timeline-stem {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

/* This is the vertical timeline that runs through the page */
.timeline-stem::before {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 12px;
  background: #c8c8c8;
}

/*  Since the items alternate either left or right side, we need the
    titles to align differently.
    This is for the blocks on the RIGHT side! */
.timeline-stem .timeline-item:nth-child(even) .timeline-box h1 {
  text-align: left;
}

/*  Since the items alternate either left or right side, we need the
    titles to align differently.
    This is for the blocks on the LEFT side! */
.timeline-stem .timeline-item:nth-child(odd) .timeline-box h1 {
  text-align: right;
}

/*  This style is why the blocks actually appear on different sides.
    This is for the RIGHT side blocks and it pushes them further
    away from the left side to align to the RIGHT side of the
    timeline */
.timeline-stem .timeline-item:nth-child(even) {
  flex-direction: row;
  left: 48.4%;
}

/*  This style is why the blocks actually appear on different sides.
    This is for the LEFT side blocks and it pushes them less
    away from the left side to align to the LEFT side of the
    timeline.
    We also need to reverse the row so that the arm comes
    AFTER (on the right side of) the item */
.timeline-stem .timeline-item:nth-child(odd) {
  flex-direction: row-reverse;
  left: 9%;
}

/*  Each arm needs to "push" the item away a little bit for design purposes
    but the left-side arms need to push the item to the left and the right,
    to the right.
    This is for the blocks on the RIGHT side! */
.timeline-stem .timeline-item:nth-child(even) .timeline-arm {
  padding-right: 1.4rem;
}

/*  Each arm needs to "push" the item away a little bit for design purposes
    but the left-side arms need to push the item to the left and the right,
    to the right.
    This is for the blocks on the LEFT side! */
.timeline-stem .timeline-item:nth-child(odd) .timeline-arm {
  padding-left: 1.4rem;
}
/*  We also need to flip the arms on the RIGHT side to match the arms on the
    right side */
.timeline-stem .timeline-item:nth-child(even) .timeline-arm svg {
  transform: rotateY(180deg);
}

/*  We need to give the first item a little bit of distance from the year
    marker */
.timeline-stem .timeline-item:nth-child(1) {
  padding-top: 2em;
}

/*  This is the class that brings in the LEFT side of timeline blocks
    If you need to slow down the animation, do it here! */
.timeline-item .timeline-box--bounce-in {
  visibility: visible;
  -webkit-animation: cd-bounce-2 0.6s;
  animation: cd-bounce-2 0.6s;
}

/*  This is the class that brings in the RIGHT side of timeline blocks
    If you need to slow down the animation, do it here! */
.timeline-item:nth-child(even) .timeline-box.timeline-box--bounce-in {
  -webkit-animation: cd-bounce-2-inverse 0.6s;
  animation: cd-bounce-2-inverse 0.6s;
}

@-webkit-keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

/*  These are mobile stylings
    1010px was chosen because that is the exact value the items start to
    mess with the sides */
@media only screen and (max-width: 1010px) {
  .timeline-stem {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .timeline-stem::before {
    background-color: transparent;
  }
  .timeline-stem .timeline-item:nth-child(odd) .timeline-arm,
  .timeline-stem .timeline-item:nth-child(even) .timeline-arm {
    padding-left: 0;
  }
  .timeline-stem .timeline-item:nth-child(1) {
    padding-top: 0;
  }
  .timeline-item {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 0;
  }
  .timeline-stem .timeline-item:nth-child(1) {
    margin-top: 0;
  }
  .timeline-arm {
    flex-direction: column;
  }
  .timeline-arm svg {
    display: none;
  }
  .timeline-stem .timeline-item:nth-child(odd),
  .timeline-stem .timeline-item:nth-child(even) {
    left: initial;
    flex-direction: column;
  }
  .timeline-stem .timeline-item:nth-child(odd) .timeline-box h1,
  .timeline-stem .timeline-item:nth-child(even) .timeline-box h1 {
    margin: 0.4em 0 0.4em 0;
    text-align: center;
  }
  .timeline-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .timeline-item::before {
    content: "";
    top: 0;
    height: 2em;
    margin: auto;
    left: 50%;
    width: 12px;
    background: #c8c8c8;
  }
  .timeline-item::after {
    content: "";
    top: 0;
    height: 4em;
    margin: auto;
    left: 50%;
    width: 12px;
    background: #c8c8c8;
  }
}
