footer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  text-align: center;
}

.love:hover {
  color: red;
  cursor: default;
}

@media only screen and (max-width: 1010px) {
  footer {
    font-size: 0.6rem;
  }
}
