#navbar {
    width: 90%;
    text-align: right;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding-left: 2em;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

@media only screen and (max-width: 1010px) {
    nav {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 2em;
    }
    nav a {
        padding: .5em 2em;
        width: 30%;
        border: 1px solid white;
    }
}