body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
  color: white;
}

h1, h2, span {
    margin: 0;
}

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  background-image: url('../dist/bg.jpg');
  background-size: cover;
  min-height: 100vh;
  width: 100%;
}

#gradIssueH1 {
    font-size: 120px;
}