body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  color: white;
}

/*  This is where the entire page is.
    We need min-height 100vh to ensure the landing page isn't buggy or
    weird */

#App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  /* background-image: url('./assets/bg.jpg');
  background-size: cover; */
  min-height: 100vh;
  width: 100%;
}

#App:before {
  content: "";
  min-height: 100vh;
  width: 100%;
  background-image: url("./assets/bg.jpg");
  background-size: cover;
  filter: blur(5px);
  position: fixed;
  z-index: -1;
}

/*  9.4vw is the ideal size for the title for EVERY screen size
    according to the mockup */

#gradIssueH1 {
  font-size: 9.4vw;
  margin: 0;
}

/*  This is the first timeline section we see, the 2014 one
    It needs a margin to not interfere with the landing page
    which has a fixed position
    Do NOT change unless you fix that issue first and reconcile
    the resulting animation breaks */

#t2014 {
  margin-top: 100vh;
}

/*  These are mobile stylings
    1010px was chosen because that is the exact value the items start to
    mess with the sides */

@media only screen and (max-width: 1010px) {
  #t2014 {
    margin-top: 2em;
  }
}
